</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - <%= forumName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="script.js"></script>
</head>

<body>
    <h1>Game Features</h1>

    <div class="auth-links">
        <!-- show welcome message and logout button if user is logged in -->
        <% if (userLoggedIn) { %>
        <span class="welcome-message">Welcome back, <%= username || '' %></span>
        <a href="/logout" class="logout-link">
            <span class="desktop-text">Logout</span>
            <i class="mobile-icon fas fa-sign-out-alt"> </i>
        </a>
        <% } else { %>
        <!-- show login and register links if user is not logged in -->
        <a href="/login" class="login-link">
            <span class="desktop-text">Login</span>
            <i class="mobile-icon fas fa-sign-in-alt"> </i>
        </a>
        <a href="/register" class="register-link">
            <span class="desktop-text">Register</span>
            <i class="mobile-icon fas fa-user-plus"> </i>
        </a>
        <% } %>
    </div>

    <nav class="navigation">
        <a href="/">Home</a>
        <a href="forum">Forum</a>
        <a href="about">About</a>
        <a href="characters">Characters</a>
        <a href="users">Users</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleMenu()">Menu &#9662;</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="forum">Forum</a>
                <a href="about">About</a>
                <a href="characters">Characters</a>
                <a href="users">Users</a>
                <a href="search">Search</a>
                <a href="weather">Weather</a>
                <a href="tvShows">TV Shows</a>
                <a href="/api">Api</a>
            </div>
        </div>
    </nav><br>
    <nav class="navigation">
        <a href="search">Search</a>
        <a href="weather">Weather</a>
        <a href="tvShows">TV Shows</a>
        <a href="/api">Api</a>
    </nav>

    <div class="container"><br>
        <h3>A Grand Fantasy Journey</h3>
        <p>Take part in an engaging single-player adventure. Discover the secrets of Teyvat and yourself as a traveler from another world setting out to reconcile with your long-lost sibling.</p>
        <h3>A World Awaiting Exploration</h3>
        <p>Traverse the vast expanse of the sky, swim through glistening lakes, and ascend high peaks. Explore off the main track to unearth all the mysteries and wonders of a world full of unanswered questions.</p>
        <h3>Explore Alone or Team Up</h3>
        <p>Take on foes solo or team up with friends to battle formidable monsters with cross-play available on PS4, iOS, Android, and PC, supporting up to 4 players.</p>
        <h3>Harness Elemental Mastery</h3>
        <p>Using the various elements to your advantage will help you solve difficult puzzles and overcome strong opponents. </p>
    </div>
</body>

</html>