<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>Welcome to <%=forumName%></h1>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="forum">Forum</a>
    </nav>
    <div class="container">
        <p>Welcome to the Genshin Guild - the ultimate hub for adventurers in the vast realm of Teyvat! It's a community where fans, experienced players or newcomers, come together to exchange insights, strategies, and tales from their journey. Whether you're seeking advice on team compositions, unraveling the lore, or simply sharing your favorite scenic screenshots, our forum is a friendly place for everyone.<br><br>
        Join the conversation about the latest updates, character builds, and event strategies and stay up-to-date with the latest news and patch notes. Sign up now and become a part of our growing community of Genshin Impact fans!</p>
    </div>
</body>

</html>