/* global */
:root {
    --backgroundColor: #faf2ea;
    --colorOne: #B4846C;
    --colorTwo: #e1cdc4;
    --colorThree: #fff;
    --selectionColor: #a8736e;
    --text-align: center;
    --textColor: #484949;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Garamond', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0 30px;
}

::selection {
    background-color: var(--selectionColor);
    color: var(--colorThree);
}

/* wave background */
.banner .waves {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

/* text */
h1 {
    color: var(--colorOne);
    font-size: 4rem;
    margin-bottom: 1rem;
    padding-top: 4rem;
    text-align: var(--text-align);
}

h2 {
    color: var(--colorTwo);
    font-size: 2rem;
    text-align: var(--text-align);
    margin-top: 2rem;
}

h4 {
    color: var(--textColor);
    font-size: 1.1rem;
    text-align: var(--text-align);
    font-weight: normal;
}

p {
    color: var(--textColor);
    font-size: 1.5rem;
    text-align: justify;
    max-width: 800px;
}

ul {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    width: 30%;
}

ul h3 {
    background-color: rgba(168, 115, 110, 0.8);
    color: var(--colorThree);
    font-size: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 0.5rem;
}

ul p {
    background-color: var(--colorThree);
    color: var(--textColor);
    font-size: 1rem;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* navigation */
.navigation {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 3rem;
    list-style: none;
    margin: 0;
    text-align: var(--text-align);
    top: 0;
    z-index: 100;
}

.navigation a {
    background-color: var(--colorTwo);
    color: var(--colorThree);
    border: 1px solid var(--colorTwo);
    border-radius: 1rem;
    margin: 0 10px;
}

/* links */
a:link,
a:visited {
    color: var(--colorThree);
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: var(--selectionColor);
    transition: 0.4s ease-out;
}

/* form */
form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--colorTwo);
    font-weight: bold;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--colorTwo);
    width: 100%;
    resize: none;
}

form textarea {
    height: 15rem;
}

form button {
    background-color: var(--colorOne);
    border-radius: 1rem;
    border: 0;
    color: var(--backgroundColor);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Garamond', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    height: 2rem;
    width: 100%;
}

form button:hover {
    background-color: var(--selectionColor);
    transition: 0.4s ease-out;
}

/* table */
.forum-table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem;
}

.forum-table th,
.forum-table td {
    padding: 10px;
    text-align: left;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.forum-table tr:nth-child(even) {
    background-color: rgba(225, 205, 196, 0.5);
}

.forum-table th {
    background-color: var(--colorOne);
    color: var(--colorThree);
}

.forum-table td a {
    color: var(--textColor);
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.forum-table td a:hover {
    color: var(--selectionColor);
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    box-sizing: border-box;
}

.container p {
    background-color: rgba(225, 205, 196, 0.2);
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

/* thread section */
.thread-section {
    border: 1px solid var(--colorOne);
    border-radius: 1rem;
    padding: 20px;
    margin-top: 2rem;
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
    font-size: 1.3rem;
}

/* dropdown menu */
.dropdown {
    display: none;
    position: relative;
}

.dropdown .dropbtn {
    font-family: 'Garamond', Helvetica, Arial, sans-serif;
    background-color: var(--colorTwo);
    color: var(--colorThree);
    border: 1px solid var(--colorTwo);
    border-radius: 1rem;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px 10px;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--colorTwo);
    min-width: 160px;
    z-index: 1;
    border: 1px solid var(--selectionColor);
}

.dropdown .dropdown-content.active {
    display: block;
    text-align: center;
}

.dropdown .dropdown-content a {
    color: var(--textColor);
    padding: 0px 5px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.dropdown .dropdown-content a:hover {
    background-color: var(--selectionColor);
    color: var(--colorThree);
    border-radius: 0;
}

/* container for login and register links */
.auth-links {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

/* style for login and register links */
.login-link,
.register-link,
.logout-link {
    background-color: var(--colorOne);
    border-radius: 1rem;
    border: 0;
    color: var(--backgroundColor);
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
    margin-left: 5px;
}

.login-link:hover,
.register-link:hover,
.logout-link:hover {
    color: var(--colorTwo);
}

.login-link a,
.register-link a,
.logout-link a,
.login-link-text a,
.register-link-text a {
    color: var(--colorTwo);
    text-decoration: none;
    transition: color 0.4s ease-out;
}

/* additional styles for login and register link text */
.login-link-text,
.register-link-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

.login-link-text a:hover,
.register-link-text a:hover {
    color: var(--colorTwo);
}

.login-link-text a,
.register-link-text a {
    color: var(--selectionColor);
}

/* style for login and register icons */
.login-link .mobile-icon,
.register-link .mobile-icon,
.logout-link .mobile-icon {
    font-size: 1rem;
    margin-right: 5px;
}

/* style for welcome message */
.welcome-message {
    margin-right: 5px;
}

/* style for success and error message */
.success-message,
.error-message {
    font-weight: bold;
    color: var(--textColor);
    margin-top: 1rem;
}

.back-to-home {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    margin: 0;
    text-align: var(--text-align);
    top: 0;
    background-color: var(--colorTwo);
    z-index: 100;
    border-radius: 1rem;
}

.back-to-home a:hover {
    color: var(--selectionColor);
    transition: 0.4s ease-out;
}

/* media query for responsiveness */
@media screen and (max-width: 600px) {
    body {
        padding-bottom: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
    }

    p {
        font-size: 1.3rem;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .navigation a {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown .dropdown-content {
        position: absolute;
        top: 50px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--colorTwo);
        display: none;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .login-link .desktop-text,
    .register-link .desktop-text,
    .logout-link .desktop-text {
        display: none;
    }

    .success-message,
    .error-message {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .banner .waves {
        display: none;
    }

    ul {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .banner .waves {
        display: none;
    }
}

@media screen and (min-width: 601px) {

    form input,
    form textarea {
        width: 350%;
    }

    form button {
        width: 100%;
    }

    .login-link .mobile-icon,
    .register-link .mobile-icon,
    .logout-link .mobile-icon {
        display: none;
    }

    .error-message p {
        padding: 0;
        margin: 0 auto;
        max-width: 800px;
    }
}